<div class="jumbotron mt-4 bg-light">

	<h1 calss="display-4">Notes App: Nodejs and Mongodb</h1>
	<p class="lead">Aplicación elaborada con las tecnologías de Node.js y MongoDB</P>
	<hr class="my-4">
	<p>En esta aplicación se utilizaron los módulos de node.js:    "express": "4.17.1", "express-handlebars": "3.1.0", "express-session": "1.17.0", "method-override": "3.0.0", "mongoose": "5.7.14", "passport": "0.4.0", "passport-local": "1.0.0", "bcryptjs": "2.4.3" y "connect-flash": "0.1.1".</p>
	<p>Adicionalmente se utilizó el framework de front-end BOOTSTRAP 4 y la libreria de íconos FONT AWESOME</p>
	
</div>